<html>
    <head>

    </head>

<br><br>

<body>
<h1 id="title" align="center">
    Cute Battle
</h1>

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br><br>

<div id="gifs" align="center">
    <!-- GIF #1 -->
    <img id="gif1" src="<%= @gif1.link%>">

    <b id="VS"> VS </b>

    <!-- GIF #2 -->
    <img id="gif2" src="http://s3-ec.buzzfed.com/static/enhanced/webdr03/2013/5/30/18/anigif_enhanced-buzz-898-1369953089-15.gif">


</div>

</body>
<%= link_to "Upload link", gifs_new_path %>

</html>

