<html>
    <head>

    </head>

<br><br>

<body align="center">

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br>

<div id="gifs" align="center">
    <!-- GIF #1 -->

    <a href="/gifs/1/like" data-method="put" rel="nofollow"><img id="gif1" src="<%= @gif1.link%>"></a>


    <b id="VS"> VS </b>

    <!-- GIF #2 -->

    <a href="/gifs/2/like" data-method="put" rel="nofollow"><img id="gif2" src="<%= @gif2.link%>"></a>



</div>



</body>

<%= link_to "Upload a new gif", gifs_new_path %>
<%= link_to "Top GIFS", gifs_path %>


</html>

