<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=Salsa' rel='stylesheet' type='text/css'>
    </head>

<br><br>

<body align="center">

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br>

<div id="gifs" align="center">
    <!-- GIF #1 -->

    <a href="/gifs/<%=@gif1.id%>/like" data-method="put" rel="nofollow"><img id="gif1" src="<%= @gif1.link%>"></a>


    <b id="VS"> VS </b>

    <!-- GIF #2 -->

    <a href="/gifs/<%=@gif2.id%>/like" data-method="put" rel="nofollow"><img id="gif2" src="<%= @gif2.link%>"></a>


</div>

<br>
<a href="/gifs/new" style="text-decoration: none"> <h4 id = "upload"> Upload New Gif
</h4></a>
<a href="/gifs" style="text-decoration: none"><h4 id= "top" >Top GIFS </h4></a>


</body>
</html>

