<html>
    <head>

    </head>

<br><br>

<body>
<h1 id="title" align="center">
    Cute Battle
</h1>

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br><br>

<div id="gifs" align="center">
    <!-- GIF #1 -->
    <a href="/gifs/1/like" data-method="put" rel="nofollow"><img id="gif1" src="<%= @gif1.link%>"></a>


    <b id="VS"> VS </b>

    <!-- GIF #2 -->
    <a href="/gifs/2/like" data-method="put" rel="nofollow"><img id="gif2" src="<%= @gif2.link%>"></a>


</div>

</body>
<%= link_to "Upload link", gifs_new_path %>

</html>

