<html>
    <head>

    </head>

<br><br>

<body align="center">

<!--<h2 id="subheading" align="center">
    this is a subheading yup subheading goes here
</h2>-->

<br>

<div id="gifs" align="center">
    <!-- GIF #1 -->
    <img id="gif1" src="<%= @gif1.link%>">
    <!--<p><%=link_to "Upvote", like_gif_path(@gif1), method: :put%></p>-->

    <b id="VS"> VS </b>

    <!-- GIF #2 -->
    <img id="gif2" src="<%= @gif2.link%>">
    <!--<p><%=link_to "Upvote", like_gif_path(@gif2), method: :put%></p>-->



</div>



</body>


</html>

