<html>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1 align="center">
					GIF BATTLE
				</h1>

				<p>
				</p>
			</div>
		</div>
	</div>
</div>
</div>
<div align="center">
<div style="float-left">
	<img src="http://31.media.tumblr.com/0d21023e21cae07065c10931a67e2415/tumblr_n346nz4zyh1tv7yt8o1_250.gif">
	<p><%= gif.likes.size %> | <%=link_to "Upvote", like_question_path(question), method: :put%></p>
</div>
<div style="float-left">
<h3> VS</h3>
</div>
<div class="float-left">
	<img src="http://jasonlefkowitz.net/wp-content/uploads/2013/07/Cats.jpg">
</div>
</div>
<%= link_to "Upload link", gifs_new_path %>

</html>