/*-------------------------
    Simple reset
--------------------------*/

*{
    margin:0;
    padding:0;
}

/*-------------------------
    General Styles
--------------------------*/

body{
    background-color: #D0ECEA;
}

a, a:visited {
    outline:none;
    color:#43819b;
}

/*-------------------------
    Main Area
--------------------------*/

/* title */
#title{
    font: 72px 'Salsa', Arial, sans-serif;
    color: #9FD6D2;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #8B7A5E;
}

#subheading{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 8px;
}

#VS{
    font: 60px 'Salsa', Arial, sans-serif;
    color: #9FD6D2;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative; bottom: 0px
}

#gif1 {
    position: relative; 
    right: 25px; 
    border-radius: 25px;
    width: 350px;
    height: 275px
}

#gif2 {
    position: relative; 
    left: 25px; 
    border-radius: 25px;
    width: 350px;
    height: 275px
}

.floatleft{
float: left;
margin: 0 10px 10px 0;
clear: right;
}



