/*-------------------------
    Simple reset
--------------------------*/

*{
    margin:0;
    padding:0;
}

/*-------------------------
    General Styles
--------------------------*/
html {

body{
    background-color: #FFFFFF;
}
a, a:link {
    color: #FFFFFF;
}
a, a:visited {
    outline:none;
    color:#43819b;
}

/*-------------------------
    Main Area
--------------------------*/

/* title */
#title{
    font: 72px 'Salsa', Arial, sans-serif;
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #9EEAC7;
}

#subheading{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 8px;
}

#VS{
    font: 60px 'Salsa', Arial, sans-serif;
    color: #D45556;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative; bottom: 0px
}

#gif1 {
    position: relative; 
    right: 25px; 
    border-radius: 25px;
    width: 350px;
    height: 275px
}

#gif2 {
    position: relative; 
    left: 25px; 
    border-radius: 25px;
    width: 350px;
    height: 275px
}
#upload{ 
    font: 20px 'Salsa', Arial, sans-serif;
    color: #D45556;

}
#top{ 
    font: 20px 'Salsa', Arial, sans-serif;
    color: #D45556;

}
#newlink {
font: 20px 'Salsa', Arial, sans-serif;
 }
.floatleft{
float: left;
margin: 0 10px 10px 0;
clear: right;
}

}



