<!DOCTYPE html>
<html>
<head>
  <title>Cutegifs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<br>
	<br>
	<a href="/" style="text-decoration: none"><h1 id="title" align="center">
    	Cute Battle
	</h1></a>

<%= yield %>

<br>

<footer>
  <p style = "font-family:Salsa">(>ω<*) Made by: Amazing People (*>ω<)</p>
  <p style = "font-family:Salsa">Created in HackPrinceton 2014</p>
</footer>

</body>
</html>
